body {
    margin: 0;
    padding: 0;
    font-family: "Quicksand", sans-serif !important;

}

.main_banner {
    padding: 290px 0;
    background-image: url(/assets/frontend/images/main_banner_images.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.nav_right_menu {
    background: #ffffffa8;
    padding: 10px 36px;
    border-radius: 10px;
}

.nav_right_menu li {
    padding-left: 10px !important;
    padding-right: 11px;
}

.nav_right_menu li a {
    color: #404040;
    font-weight: 500;
}

.nav_right_menu li a:hover {
    color: #bb8042;
}

.nav_right_menu li i {
    color: #bb8042;
    font-size: 26px;
    position: relative;
    top: 4px;
}